header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}