nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  font-style: normal;
  color: #FFFFFF; 
  height: 65px;
  display:flex;
  justify-content: space-between;
  z-index: 10;
}

.newTweet {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: .5em;
  align-self: flex-end;
}


@media screen and (max-width: 1023px) {

  .nav {
    background: transparent;
  }

}