.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
}

form {
  text-align: center;
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  margin: 8px 0;
  border:none;
  background: none;
  border-bottom: 5px solid #545149;
  resize: none;
}

.counter {
  float: right;
  font-family: "Bungee", sans-serif;
  font-style: normal;
}

.counter-warning {
  color: red;
}

button {
  float: left;
  font-family: "Bungee", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #4056A1;
}

.Error {
  display: none;
  border: 2.5px solid #c51244;
  padding: 10px;
  border-radius: 0;
  position: relative; 
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {

  .new-tweet {
    padding-top: 5em;
  }

}